@import "../../styles/fonts";
@import "../../styles/variables";
@import "../../styles/mixins";

.form {
  flex-grow: 1;
  background-color: $color-secendary;
  padding: 2rem;

  @include media(medium) {
    min-width: 64rem;
  }
}

.wrapperInput {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media(medium) {
    width: 60rem;
  }
}

.wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding-top: 2rem;
  flex-direction: column;

  @include media(medium) {
    flex-direction: row;
    padding-top: 4rem;
  }
}

.input {
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  outline-color: $color-primary;
  border: 1px solid $color-border;
}

.inputShort {
  width: 100%;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  outline-color: $color-primary;
  border: 1px solid $color-border;
  @include media(medium) {
    width: 48%;
  }
}

.priceInfo {
  background-color: $color-secendary;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  @include media(medium) {
    width: 30%;
    padding: 1rem 2rem;
    margin-bottom: 0;
  }
}

.info {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.price {
  color: $color-primary;
  font-size: 3rem;
  text-align: left;
  float: right;
}

.submit {
  background-color: $color-primary;
  width: 100%;
  align-self: flex-start;
  font-size: 2rem;
  margin-top: 3rem;
  padding: 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-family: $font-Roboto;
  color: white;
  border: 1px solid $color-border;
  border-radius: 0.5rem;
  &:hover {
    border-color: $color-primary;
  }
}

.validate {
  color: red;
  padding-top: 1rem;
}
