@import "../../styles/fonts";
@import "../../styles/mixins";
@import "../../styles/variables";

.product {
  background-color: $color-section;
  padding: 5rem 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  @include media(small) {
    justify-content: space-between;
    flex-direction: row;
  }
  @include container;
}

.column {
  @include media(small) {
    width: 48%;
  }
}

.img {
  width: 100%;
  height: auto;
  border: 2px solid $color-border;

  @include media(small) {
    width: 80%;
    height: auto;
  }
}

.title {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}
.price {
  font-size: 2rem;
  color: $color-primary;
  padding-bottom: 2rem;
}
.wrapperBattons {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  padding-bottom: 2rem;
}

.subtitle {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: $color-text-product;
}

.text {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}
