@import "../../styles/mixins";
@import "../../styles/variables";
@import "../../styles/fonts";

.basket {
  background-color: $color-section;
  min-height: 100vh;
}

.container {
  @include container;
  @include media(medium) {
    padding: 2rem 0;
  }
}
.title {
  padding: 2rem 0;
  font-size: 2.5rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;

  @include media(medium) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 0;
  }
}
.priceSection {
  background-color: $color-secendary;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 2rem;
  @include media(medium) {
    width: 30%;
    height: 20rem;
  }
}

.wrapperProduct {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: $color-secendary;
  padding: 2rem;
  @include media(medium) {
    min-width: 64rem;
    flex-grow: 1;
  }
}

.navlink {
  text-decoration: none;
}

.price {
  color: $color-primary;
  font-size: 3rem;
  text-align: left;
}

.subtitle {
  font-size: 3rem;
}

.button {
  background-color: $color-primary;
  width: 100%;
  align-self: flex-start;
  font-size: 2rem;
  padding: 1rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-family: $font-Roboto;
  color: white;
  border: 1px solid $color-border;
  border-radius: 0.5rem;
  &:hover {
    border-color: $color-primary;
  }
}
