@import "../../styles/fonts";

.baner {
  width: 22%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.titleBaner {
  color: white;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  text-align: center;
  font-family: $font-Roboto-Slab;
  font-weight: 400;
}

.titleWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1.5rem;
}

.background {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgb(255, 0, 115);
  border-radius: 0 70% 0 0;
  width: 100%;
  height: 50%;
}
