@import "../../styles/mixins";
@import "../../styles/variables";
.forYou {
  background-color: $color-section;
  padding-bottom: 5rem;
}

.container {
  @include container;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  @include media(small) {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }

  @include media(medium) {
  }
}

.title {
  font-size: 2.5rem;
  padding: 2rem 0;
}

.navLink {
  text-decoration: none;

  @include media(small) {
    width: 48%;
  }

  @include media(medium) {
    width: 22%;
  }
}
