@import "../../styles/mixins";
@import "../../styles/variables";
.forYou {
  background-color: $color-section;
  padding: 2rem;
}

.container {
  @include container;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 2.5rem;
  padding: 2rem 0;
}

.navLink {
  width: 22%;
  text-decoration: none;
}
