@import "../../styles/mixins";
@import "../../styles/variables";

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include container;
  }

  &__serch {
    background-color: $color-primary;
  }

  &__formWrapper {
    width: 40%;
  }

  &__btnIcon {
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 1rem 0;
    font-size: 1.5rem;
    .fa-cart-shopping {
      font-size: 2.5rem;
      padding-bottom: 0.8rem;
    }
  }
}
