@import "../../styles/fonts";
@import "../../styles/mixins";
@import "../../styles/variables";

.header {
  &__menu {
    background-color: $color-secendary;
    box-shadow: 0px 2px 5px grey;
  }
  &__nav {
    color: $color-text;
  }

  &__navList {
    list-style-type: none;
    display: flex;
  }

  &__item {
    padding: 0 5rem 0 0;
  }

  &__navLink {
    text-decoration: none;
    color: $color-text;
    font-size: 2rem;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.2rem;
    transition: 0.2s;

    &.active {
      border-bottom: 3px solid $color-primary;
      &:hover {
        transform: translateY(0);
      }
    }
    &:hover {
      transform: translateY(-0.5rem);
    }
  }
}
