@import "../../styles/mixins";
@import "../../styles/variables";

.header {
  &__widget {
    padding: 1rem;
    background-color: $color-secendary;
    font-size: 2rem;
    .fa-solid {
      cursor: pointer;
    }
  }
  &__link {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: $color-text;
  }
}
